* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #29b1dd;
}

.section_blue {
  background-color: #29b1dd;
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.title {
  display: inline-block;
  text-transform: uppercase;
  color: white;
}

main {
  background-color: #dddddd;
}
